@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .filament-forms-checkbox-tree-component {
        @apply w-full;
    }

    .filament-forms-checkbox-tree-item {
        @apply w-full;
    }

    /* Tree structure spacing */
    .filament-forms-checkbox-tree-item .filament-forms-checkbox-tree-item {
        @apply mt-2;
    }
}
